.mainContainer {
    width: 960px; 
    height: 960px;
}

.row {
    display: flex;

}

.boxes { 
    height: auto;
    width: auto;
    flex: 1 1 1; 
    background-color: aquamarine;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.boxes:hover {
    background-color: black; 
}

.input {
    width: 300px; 
}