.boxContainer {
    width: 960px; 
    height: 960px; 
    display: flex;
    flex-direction: column;
    align-content: stretch; 
}

.row {
    display:flex;  
    align-content: stretch;  
    justify-content: stretch;
    height: 960px; 
    box-sizing: border-box;
}

.boxes { 
    background-color: rgb(255, 251, 214);
    flex: 1;  
}

/* .boxes:hover { */
    /* background-color: black;  */
/* } */

.input {
    width: 300px; 
}